.timeline-scale {
  height: 100%;
  padding: 0 16rem;
  padding-right: 72rem;

  position: absolute;
  left: 1000px;

  &-spacer {
    background: #00488e;
    width: calc(
      365px
    ); // 730pixels is the two years in pixels hidden behind the spacer
    float: left;
    height: 90%;
    top: 10%;
    position: relative;
  }

  &-container {
    height: 100%;
  }

  &-ruler {
    background-image: url('../../images/time-scale.svg');
    background-position: left bottom;
    background-repeat: repeat-x;
    height: 100%;
    z-index: 1;
  }

  &-indicator {
    font-family: 'Oswald';
    font-size: 1.8rem;
    font-weight: 400;
    text-shadow: 1px 1px #090909;
    position: fixed;
    left: calc(50% - 5rem);
    bottom: 15%;
    width: 10rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &-caret {
      width: 1.5rem;
      margin: 0 auto;
    }
  }

  &-years {
    font-family: 'Oswald';
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 1px 1px #090909;

    &-marker {
      position: absolute;
      bottom: 4%;
      width: 6rem;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .timeline-scale {
    padding-right: 48rem;

    &-indicator {
      bottom: 10%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .timeline-scale {
    padding-right: 16rem;
  }
}
