.time-ribbon {
  height: 100%;
  padding: 0 16rem;
  padding-right: 72rem;

  position: absolute;
  left: 1000px;

  &-spacer {
    background: #00488e;
    width: calc(
      730px
    ); // 730pixels is the two years in pixels hidden behind the spacer 3rem is half the width of the year span
    float: left;
    height: 90%;
    top: 10%;
    position: relative;
  }

  &-container {
    height: 100%;
  }

  &-ruler {
    background-image: url('../../images/time-scale.svg');
    background-position: left bottom;
    background-repeat: repeat-x;
    height: 100%;
    z-index: 1;
  }

  &-indicator {
    font-family: 'Oswald';
    font-size: 2rem;
    font-weight: 400;
    position: fixed;
    left: 50%;
    bottom: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &-caret {
      width: 1.5rem;
      margin: 0 auto;
    }
  }

  &-years {
    font-family: 'Oswald';
    font-size: 3rem;
    font-weight: 400;

    &-marker {
      position: absolute;
      bottom: 3%;
      width: 6rem;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .time-ribbon {
    padding-right: 48rem;

    &-indicator {
      bottom: 10%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .time-ribbon {
    padding-right: 16rem;
  }
}

@media only screen and (max-width: 500px) {
  .time-ribbon {
    &-indicator {
      bottom: 15%;
    }

    &-years-marker {
      bottom: 5%;
    }
  }
}
