.footer {
  background: #000000;
  color: #d2d2d2;

  padding: 2.4rem 0;

  &-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &-disclaimer {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .footer-flex-container {
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1.4rem;
  }
}