.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-counter {
    &-flex-container {
      display: flex;
      flex-direction: row;
      gap: 2.4rem;
    }

    &-date, &-time {
      display: flex;
      align-items: center;
      gap: 2.4rem;
    }
  }

  &-title {
    text-align: center;
    font-size: 3.2rem;
  }

  &-unit-seperator {
    font-size: 3.5rem;
    font-weight: 600;

    &-base {
      height: 1.2rem;
    }
  }
}


@media only screen and (max-width: 600px) {
  .clock {
    &-title {
      font-size: 3rem;
    }

    &-counter {
      &-flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }

      &-date, &-time {
        gap: 1.5rem;
      }
    }
  }
}