html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: #00488e;
  color: #ffffff;

  font-size: 1.6em;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  width: 90%;
}
